body {
	padding-top: 0 ;
	padding-bottom: 0 ;
	padding-top: 0 ;
	padding-bottom: 0 ;
	margin:0 ;
	width: 100% ;
	-webkit-text-size-adjust: 100% ;
	-ms-text-size-adjust: 100% ;
	-webkit-font-smoothing: antialiased ;
	background-color: rgb(40, 40, 40);
}

.mainContainer {
	font-family: helvetica, sans-serif;
	background-color: #FFFFFF;
}

a {
	color:#6bb846;
	text-decoration: underline;
}

a.linkFooter {
	text-decoration: none;
}

p, h1,h2,ul,ol,li,div{
	margin:0;
	padding:0;
}


td,table{
	vertical-align: top;
}
td.middle{
	vertical-align: middle;
}

a.link1{
	font-size:13px;
	color:#27A1E5;
	line-height: 24px;
	text-decoration:none;
}


img { 
	width: auto;
	max-width: 100%; 
	display: block;
}


/*#############################Own Additional styling ####################################*/

.fullWidthImage {
	width: 600px;
}

.underScript {
	font-style: italic;
	text-align: left;
}


p{
	color: #4a4a4a;
    font-family: Calibri,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    hyphens: none;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    word-break: keep-all;
    word-wrap: break-word;
}


.headertext {
	-moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    Margin: 0;
    color: #b3b3b3;
    font-family: Calibri,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    hyphens: none;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    word-break: keep-all;
    word-wrap: break-word;
}

h2.blueTitle {
	color: #1e4ea2;
    font-family: Calibri,Arial,sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
}

ul {
	padding: 0 0 0 15px;
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	color: #4a4a4a;
    font-family: Calibri,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    hyphens: none;
    line-height: 1.3;
	
}

li {
	margin-bottom: 5px;
}

.keyDate{
	width:130px;
}

.keyDatesTable td, tr{
	Margin:0;
	border:1px solid #b0b0b0;
	border-collapse:collapse;
	color:#4a4a4a;
	font-family:Calibri,Arial,sans-serif;
	font-size:14px;
	font-weight:400;
	hyphens:none;
	line-height:1.3;
	margin:0;
	padding:10px 15px;
	text-align:left;
	vertical-align:middle;
	word-break:keep-all;
	word-wrap:break-word
}

#footer_table {
	background: #034ea2;
}
